

body{
    margin: auto;
    width:80%;
    font-size: 20px;
   
}

.contenedor{

    text-align: center;
}


#formulario{
    text-align: center;
}
#formulario fieldset{
    width: 60%;
}

#textos{
    display: flex;
    flex-direction: column;
}

#gruporadio1{
    display: inline;
    flex-direction: column;
}

#radios{
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto ;
}