
/*Esta será nuestra hoja de estilos para nuestra pagina web, todos los elementos los hemos definido con su correspondiente id
en nuestro documento Javascript, asi que los llamaremos a casi todos con el signo # menos el contenedor que esta definido como clase*/

body{
   
    margin: 0;
    color: white;
  
    font-size: 20px;
    background-image: url("../img/fondo.jpg") ;
    /* centro imagen le damos todo el ancho y alto del contenedor*/
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor{
    display:flex;
    flex-direction: column;
    align-content: center;
   
}

#divheader{
    width: 100%;
    height: 80px;
    background-image: url("../img/header.png") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}



#divformulario{
    margin: 40px auto;
    width: 60%;
}

form fieldset legend{
    font-size: 30px;
    text-align: center;
}

#cabecera{
    display: grid;
    grid-template-columns: auto auto;
    
}
#textos{
    
    display: flex;
    justify-content:right;
    flex-direction: column;
    margin-bottom: 40px;
}

#textos input{
    width: 100%;
}

#fotoestudiante{
    margin-top: 20px;
   padding-left: 300px;
    
}

#radios{
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto ;
    text-align: center;
    
}

#gruporadio1{
    display: inline;
    flex-direction: column;
    border: wheat solid 2px;
}

#gruporadio2{
    margin-left: 10px;
    border: wheat solid 2px;
}


#divbloquegustos{

    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto ;
    text-align: center;
    
    
}

#divhobbies{
    border: wheat solid 2px;
}

#divselect{
    margin-left: 10px;
    border: wheat solid 2px;

    
}
#divselect select{
    margin-top: 60px;
}


#divselect label{
    margin-right: 10px;
}
#divhobbies label {
    margin-right: 10px;
}
#divhobbies input{
    margin-left: 20px;
}

#textareadiv{
    margin-top: 20px;
    display: flex;
    justify-content:right;
    flex-direction: column;
    align-items: center;

}

#textareadiv label{
    text-align: center;
    
}

#boton{
    margin-top: 30px;
    font-size: 20px;
    width: 120px;
    height: 60px;
    text-align: center;
    background: rgb(28, 170, 127);
    color: white;
}

#divfooter{

    margin-top: 40px;
    width: 100%;
    height: 250px;

    background-image: url("../img/footer.png")  ;
    /*atributos para imagen*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    

}
